/* Global */
.header {
    text-align:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight:900;
    word-spacing:-7px;
}

.menu-header {
    text-align:center;
    font-family:   "arial";
    font-weight:300;
    font-size:14pt;
    word-spacing:-2px;
}

.border {
    border:solid 1pt rgb(212,221,200);
}

.left-floater,
.right-floater {
    width:45%;
}

.left-floater {
    float:left;
}

.center-floater {
    float:center;
}

.right-floater {
    float:right;
}

.logo {
    width:555px;
    height:355px;
    padding:0;
    margin:0;
}

.map {
    margin:10px;
}

.contact-address {
    font-family: cursive,  "Comic Sans MS", sans-serif;
    font-weight:500;
    font-size:14pt;
    word-spacing:-2px;
    line-height:2%px;
    margin:10px;
}

.sign-in,
.sign-up {
    margin-top:2px;
}

.sign-in .child,
.sign-up .child {
    padding:30px;
}

.close-button {
    margin:10px;
    margin-bottom:0;
    margin-right:0;
}


iframe {
    width: 100%;
    height: 50vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}



/*Scrollbar 
*/
.v-scroll {
	overflow:scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

@media screen and (max-width: 520px) {
    .left-floater,
    .right-floater,
    .center-floater {
            float:none;
            text-align: center;
        }

    .left-floater,
    .right-floater,
    .center-floater {
            margin:auto;
            width:100%;
        }

    .thumbnail {
            width:100%;
            height:100%;
        }
    
    .map,
    .right-floater form,
    .left-floater * {
            margin:0;
            padding:5px;
            width:100%;
            height:25;
        }

    .left-floater p {
            text-align:center;
        }
}

@media screen and (max-width: 830px) {
    .left-floater,
    .right-floater,
    .center-floater {
            float:none;
            text-align: center;
        }

    .left-floater,
    .right-floater,
    .center-floater {
            margin:auto;
            text-align:center;
            width:100%;
        }
    
    img[class="logo"] {
            border:solid 1pt rgb(200,200,210);
            width:555px;
            height:355px;
            padding:0px;
            margin:0px;
        }
    
    .card-section>p {
            /* border:solid 1pt rgb(200,200,210); */
            width:100%;
            margin:0px;            
            padding:0;
        }

    .card {
            border:solid 1pt rgb(200,200,210);
            width:400px;
            margin:10px;            
            padding:0;
        }

    .map,
    .right-floater form,
    .left-floater * {
            margin:0;
            padding:5px;
            width:100%;
            height:25;
        }

    .left-floater p {
            text-align:center;
        }
}